<section class="bs-catalog-filters">
  <div class="container">
    <div class="alert alert-warning bs-catalog-alert" role="alert" [hidden]="!errorReceived">
      Błąd podczas zamawiania produktów z katalogu, spróbuj później
    </div>
    <div class="bs-catalog-filters-wrapper d-flex align-items-end  mt-3">
      <div class="bs-catalog-filter-wrapper">
        <label class="bs-catalog-label" for="category">Kategoria</label>
        <select class="bs-catalog-filter form-control" id="category"
                (change)="onCategoryFilterChanged($event, $event.target.value)">
          <option *ngFor="let category of categories" [value]="category.categoryId">{{category.name}}</option>
        </select>
      </div>
      <button type="button" class="btn btn-primary" (click)="onFilterApplied($event)">Zastosuj</button>
    </div>
  </div>
</section>

<div class="container">
  <div *ngIf="catalog?.data.length > 0">
    <bs-pager [model]="paginationInfo" (changed)="onPageChanged($event)"></bs-pager>

    <div class="bs-catalog-items row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3"
           *ngFor="let item of catalog?.data">
        <div [ngClass]="{'bs-catalog-item': true, 'is-disabled': !authenticated }" (click)="addToCart(item)">
          <div class="bs-catalog-thumbnail-wrapper">
            <div class="bs-catalog-thumbnail-icon d-flex justify-content-center">
              <img class="bs-catalog-thumbnail-icon-svg" src="assets/images/add.svg"/>
            </div>
            <img class="bs-catalog-thumbnail" src="{{item.imageUrl}}"/>
          </div>
          <div class="bs-catalog-details d-flex justify-content-between align-items-center">
            <div class="bs-catalog-name ml-3">
              <span>{{item.categoryName}}</span>
            </div>
            <div class="bs-catalog-price mr-3">
              <span>{{item.price | number:'1.2-2'}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <bs-pager [model]="paginationInfo" (changed)="onPageChanged($event)"></bs-pager>
  </div>
  <div *ngIf="catalog?.data.length == 0">
    <span>NIE MA WYNIKÓW PASUJĄCYCH DO TWOJEGO WYSZUKIWANIA</span>
  </div>
</div>
