<div class="bs-orders_detail">
  <div class="container">
    <h1 class="mb-4 mt-5">[ Szczegóły listy zamówień ]</h1>
    <div class="u-background-brightest p-5">
      <article class="bs-orders_detail-titles row">
        <section class="col-3">Numer zamówienia</section>
        <section class="col-3">Data</section>
        <section class="col-3">Całość</section>
        <section class="col-3">Status</section>
      </article>

      <article class="bs-orders_detail-items row">
        <section class="col-3">121312</section>
        <section class="col-3">12.09.2021</section>
        <section class="col-3">25.99 pln</section>
        <section class="col-3">W przygotowaniu</section>
      </article>

      <h2 class="bs-orders_detail mt-5">Adres wysyłki</h2>
      <div class="u-mb-5">ul. Staszica 27/33 Rzeszów Polska</div>
      <article class="bs-orders_detail-items divider divider--bottom d-flex align-items-center pb-3 mt-3 u-text-sm">
        <div class="bs-orders_detail-thumbnail-container">
          <div class="bs-orders_detail-thumbnail-wrapper">
            <img class="bs-orders_detail-thumbnail" src="assets/images/352x500.jpg">
          </div>
        </div>
        <div class="row w-100 ml-3">
          <div class="col-6">Władca pierscienia</div>
          <div class="col-2">22.95 PLN</div>
          <div class="col-2">1</div>
          <div class="col-2 text-right">3</div>
        </div>
      </article>

      <div class="d-flex align-items-center justify-content-end mt-4 mb-4 text-uppercase u-text-xl">
        <div>Całość</div>
        <div class="ml-3">23.67 PLN</div>
      </div>
      <aside class="d-flex justify-content-end mt-5">
        <a class="btn btn-secondary" routerLink="/orders">Pwrót do listy zakupów</a>
      </aside>
    </div>
  </div>
</div>
